src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="06532fd4-aeaa-46b2-b109-94eaf86a235b" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0a01270a-e3ed-4fce-a53c-6c4fd34957f1" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="9a4c6db0-1618-479a-b4e0-85c4e2ff67e8" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="fbc0cd17-1f9a-4953-8933-96a42096d13e" >
		<http:listener doc:name="Listener" doc:id="0de8503f-211b-485a-82bf-f1d62f03b42d" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="a9777e80-e63a-4fe5-a86b-e24eae7ac135" config-ref="HTTP_Request_configuration1" path="/region/city">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
